:root {
  scroll-behavior: smooth;
  --pwa-popup-z-index: 10;

  --pwa-popup-text-color: #2c3e50;
  --pwa-popup-bg-color: #ffffff;
  --pwa-popup-border-color: #ffcc00;
  --pwa-popup-shadow: 0 4px 16px var(--pwa-popup-border-color);

  --pwa-popup-btn-text-color: #ffffff;
  --pwa-popup-btn-bg-color: #ffcc00;
  --pwa-popup-btn-hover-bg-color: #ffdb4a;
}

html.dark {
  // brand colors
  --c-brand: #ffcc00;
  --c-brand-light: #ffdb4a;

  // background colors
  --c-bg: #22272e;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;

  // text colors
  --c-text: #adbac7;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;

  // border colors
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;
}

.theme-container.home_page {
  
  .upload_button {
    background-color: #ff6464;
    border: 1px solid #ff6464;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .upload_button:hover {
    background-color: white; /* Green */
    color: #ff6464;
  }

  .link_underline > a {
    font-size: 1.5em;
    position: relative;
    &:before {
      content: "";
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      margin: -1px 0;
      background-color: var(--c-brand);
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.2s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.theme-container.question-page {
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .centered_image {
    display: block;
    max-height: 500px;
    height: 70%;
    width: auto;
  }
  h1 {
    color: var(--c-brand)
  }
  h2 {
    color: var(--c-brand);
  }
  h3 {
    color: var(--c-brand);
  }
  /*
  h4 {
    color: var(--c-heading-4)
  }
  h5 {
    color: var(--c-heading-5)
  }
  */
}
