:root {
  --c-brand: #3eaf7c;
  --c-brand-light: #51c792;
  --c-text-quote: #2c3e50;

  --c-bg-opacity: #ffffffa9;

  //containers
  --c-warning: #e7c000;
  --c-warning-bg: #f3f4f5;
  --c-warning-title: #2c3e50;
  --c-warning-text: #2c3e50;
  --c-warning-text-accent: var(--c-text);
  --c-danger-bg: #f3f4f5;
  --c-danger-title: #ff2e2e;
  --c-danger-text: #2c3e50;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee;
  //

  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--c-border);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--c-brand);
  }

  .sidebar {
    .router-link-active {
      font-weight: bold;
    }
  }

  .badge.warning {
    color: var(--c-text);
  }

  .site-name {
    display: none;
  }
}

html.dark {
  // brand colors
  --c-brand: #ffcc00;
  --c-brand-light: #ffdb4a;

  // background colors
  --c-bg: #22272e;
  --c-bg-light: #2b313a;
  --c-bg-lighter: #262c34;
  --c-bg-opacity: #22272ed8;

  // text colors
  --c-text: #adbac7;
  --c-text-light: #96a7b7;
  --c-text-lighter: #8b9eb0;
  --c-text-lightest: #8094a8;
  --c-text-quote: #adbac7;

  // border colors
  --c-border: #3e4c5a;
  --c-border-dark: #34404c;

  // custom container colors
  --c-white: #ffffff;
  --c-tip: #318a62;
  --c-tip-title: #318a62;
  --c-warning: #ffd500;
  --c-warning-bg: #2b313a;
  --c-warning-title: #ffdd34;
  --c-warning-text: #adbac7;
  --c-danger: #ff0000;
  --c-danger-bg: #2b313a;
  --c-danger-title: #ff4b4b;
  --c-danger-text: #adbac7;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;

  .badge.warning {
    color: var(--c-bg);
  }
}

.navbar {
  border-bottom: 0px solid var(--c-border);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  .search-box input {
    border: none;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .toggle-dark-button {
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: rotate(180deg);
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}

.theme-container.default-page {
  .customTable {
    .center {
      text-align: center;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
    }
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .centered_image {
    display: block;
    max-height: 500px;
    width: auto;
  }

  h1 {
    color: var(--c-brand);
  }

  h2 {
    color: var(--c-brand);
  }

  h3 {
    color: var(--c-brand);
  }

  strong {
    color: var(--c-brand);
  }

  .upload_button {
    background-color: #ff6464;
    border: 2px solid #ff6464;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: var(--font-family);
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
      background-color: white;
      color: #ff6464;
      text-decoration: none;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .primary_button {
    background-color: var(--c-brand);
    border: 2px solid var(--c-brand);
    color: var(--c-bg);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: var(--font-family);
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
      background-color: var(--c-brand-light);
      text-decoration: none;
    }
  }

  .secondary_button {
    background-color: var(--c-bg);
    border: 2px solid var(--c-brand);
    color: var(--c-brand);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: var(--font-family);
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
      background-color: var(--c-brand-light);
      color: var(--c-bg);
      text-decoration: none;
    }
  }
}
